/.idea/*
/dev/*

#Настройки плагинов
dynamicReturnTypeMeta.json

# Логи отслеживаем, но не коммитим
#/*.log

# используется папка /local
# По идее битрикс нужно отслеживать и комитить, но ели случейно будет изменено ядро и запушено... не отслеживаем
/bitrix/*
#Модули и компоненты по умолчанию ставятся в папку битрикс, и не факт что они норм настроены для работы из папки локал
!/bitrix/components/rarus.sms4b
!/bitrix/modules/rarus.sms4b

#  служебные папки
/upload

